.programs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 1em;
  overflow-y: auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.loading {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}